.header {
  display: flex;
  justify-content: space-between;  
  align-items: center;            
  padding: 35px 100px;           
  position: relative;
  background-color: #101418;
}

.nav-links {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin: 0 25px;
}

.header-nav-item {
  text-decoration: none;
  color: #6B9872;
  font-size: 20px;
  transition: color 0.3s ease;
  cursor: pointer;
}

.header-nav-item:hover {
  color:#58c869;
}
