.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 80px;
  position: relative;
  background-color: #101418;
}

.menu-icon {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  height: 25px;
  width: 30px;
  transition: transform 0.3s ease;
}

.menu-line {
  height: 5px;
  width: 100%;
  background-color: #6b9872;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.menu-icon.open .menu-line:nth-child(1) {
  transform: rotate(45deg);
  transform-origin: 0% 0%;
}

.menu-icon.open .menu-line:nth-child(2) {
  opacity: 0;
}

.menu-icon.open .menu-line:nth-child(3) {
  transform: rotate(-45deg);
  transform-origin: 0% 100%;
}

.menu-icon {
  display: none;
}

.nav-links {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0; 
}

.nav-links li {
  margin: 0 20px;
}

.header-nav-item {
  text-decoration: none;
  color: #6b9872;
  font-size: 20px;
  cursor: pointer;
  justify-content: center;
  transition: color 0.3s ease;
}

.header-nav-item:hover {
  color: #58c869;
}

.contatoMenu {
  display: none;
}

@media screen and (max-width: 768px) {
.header {
  align-items: center;
  padding: 20px 30px;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 90px;
  left: 0;
  right: 0;
  background-color: #101418;
  flex-direction: column;
  padding: 20px 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.4s ease, opacity 0.4s ease;
}

.nav.open {
  max-height: 400px;
  opacity: 1;
}

.menu-icon {
  display: flex;
}

.nav-links {
  display: flex;
  flex-direction: column;
  text-align: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-links li {
  margin: 15px 0;
  margin-bottom: 3rem;
}

.header-nav-item {
  text-decoration: none;
  color: #6b9872;
  font-size: 24px;
  transition: color 0.3s ease;
  cursor: pointer;
}

.header-nav-item:hover {
  color: #58c869;
}

.contatoMenu {
  display: flex;
  text-align: center;
  width: auto;
}

.ContatoHeader {
  display: none;
}
}
