.QuemSomos {
    display: flex;
    flex-direction: column;
    margin-left: 11rem;
}

.TituloQuemSomos {
    color: #6B9872;
    font-size: 40px;
    margin-bottom: 4rem;
}

.Eduardo {
    display: flex;
    align-items: center;
    gap: 100px;
}

.Gabriel {
    display: flex;
    align-items: center;
    gap: 100px;
    margin-bottom: 2rem;
    margin-left: 28rem;
}

.FotoEduardo img, .FotoGabriel img {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    object-fit: cover;
}

.NomeEduardo, .NomeGabriel {
    color: #6B9872;
    font-size: 38px;
    text-align: center;
    margin-bottom: 2rem;
}

.TextoNome {
    text-align: center;
    margin-bottom: 2rem;
    color: white;
    font-size: 24px;
}

.redes-sociais {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.redes {
    object-fit: contain;
}

@media (max-width: 1540px) {
    .QuemSomos {
        margin-left: 6rem;
    }
    
    .Eduardo {
        gap: 50px;
    }
    
    .Gabriel {
        gap: 60px;
        margin-left: 22rem;
    }
    
    .FotoEduardo img, .FotoGabriel img {
        width: 300px;
        height: 300px;
    }
}

@media (max-width: 1280px) {
    .TituloQuemSomos {
        margin-bottom: 4rem;
    }
    
    .Eduardo {
        gap: 50px;
        margin-bottom: 2rem;
    }
    
    .Gabriel {
        gap: 50px;
        margin-bottom: 2rem;
        margin-left: 11rem;
    }
    
    .FotoEduardo img, .FotoGabriel img {
        width: 250px;
        height: 250px;
    }
    
    .NomeEduardo, .NomeGabriel {
        color: #6B9872;
        font-size: 38px;
        text-align: center;
        margin-bottom: 2rem;
    }
    
    .TextoNome {
        text-align: center;
        margin-bottom: 2rem;
        color: white;
        font-size: 24px;
    }
}

@media (max-width: 835px) {
    .QuemSomos {
        text-align: center;
        margin-left: 0rem;
    }
    
    .TituloQuemSomos {
        color: #6B9872;
        font-size: 30px;
        margin-bottom: 2rem;
    }
    
    .Eduardo {
        display: block;
        align-items: center;
        margin-bottom: 4rem;
    }
    
    .Gabriel {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        gap: 20px;
        margin-left: 0;
    }
    
    .FotoEduardo img, .FotoGabriel img {
        width: 200px;
        height: 200px;
    }
    
    .NomeEduardo, .NomeGabriel {
        color: #6B9872;
        font-size: 20px;
        text-align: center;
        margin-bottom: 2rem;
    }
    
    .TextoNome {
        text-align: center;
        margin-bottom: 2rem;
        color: white;
        font-size: 24px;
    }
    
    .redes-sociais {
        gap: 50px;
    }
}

@media (max-width: 510px) {
    .NomeEduardo, .NomeGabriel {
        font-size: 30px;
    }

    .FotoEduardo, .FotoGabriel {
        margin-bottom: 2rem;
    }

    .TextoNome {
        font-size: 20px;
        margin-left: 20px;
        margin-right: 20px;
    }
}