.SobreNos {
    display: flex;
    justify-content: center;
}

.TituloSobreNos {
    color: #6B9872;
    font-size: 40px;
    margin-left: 11rem;
}

.TextoSobreNos {
    color: white;
    font-size: 24px;
    margin-left: 11rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.macbook img {
    width: 1050px;
    height: auto;
}

.RedesSobreNos {
    display: flex;
    width: 45px;
    height: auto;
    margin-left: 10rem;
}

@media (max-width: 1540px) {
    .TituloSobreNos {
        margin-left: 6rem;
    }
    
    .TextoSobreNos {
        margin-left: 6rem;
    }
    
    .macbook img {
        width: 700px;
        margin-top: 2rem;
    }
    
    .RedesSobreNos {
        margin-left: 5rem;
    }
}


@media (max-width: 1280px) {
    .SobreNos {
        display: flex;
        justify-content: center;
    }
    
    .TituloSobreNos {
        margin-left: 6rem;
    }
    
    .TextoSobreNos {
        margin-left: 6rem;
    }
    
    .macbook img {
        margin-top: 7rem;
        width: 700px;
    }

    .RedesSobreNos {
        margin-left: 5rem;
    }
}

@media (max-width: 835px) {
    .SobreNos {
        display: flex;
        justify-content: center;
    }
    
    .TituloSobreNos {
        margin-left: 2rem;
    }
    
    .TextoSobreNos {
        margin-left: 2rem;
    }
    
    .macbook img {
        margin-top: 14rem;
        width: 400px;
    }

    .RedesSobreNos {
        margin-left: 2rem;
        gap: 50px;
        width: 50px;
    }
}

@media (max-width: 510px) {
    .SobreNos {
        text-align: center;
    }
    
    .TituloSobreNos {
        margin-left: 0rem;
        font-size: 30px;
    }
    
    .TextoSobreNos {
        margin-left: 0rem;
        font-size: 20px;
        margin-top: 2rem;
        margin-left: 20px;
        margin-right: 20px;
    }
    
    .macbook img {
        display: none;
    }

    .RedesSobreNos {
        margin-left: 8rem;
        gap: 50px;
        width: 50px;
    }
}